body {
  margin: 0;
}

.booking {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #000;
}

.container {
  box-sizing: border-box;
  max-width: 1010px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
}

.header__welcome {
  font-size: 42px;
  margin: 0;
}
.app {
  position: relative;
  margin-bottom: 80px;
}

.next-button {
  font-family: inherit;
  border: 0;
  cursor: pointer;
  font-size: 34px;
  padding: 14px 105px;
  background-color: #5D7EEF;
  color: #fff;
  transition: background-color 0.3s;
}
.next-button:hover {
  background-color: #5d7eefdb;
}
.next-button:active {
  background-color: rgba(52, 97, 232, 0.86);
}
.next-button:disabled {
  cursor: not-allowed;
  background-color: rgba(158, 158, 158, 0.86);
  opacity: 0.5;
}

.app__next-button {
  width: 80%;
  margin: 0 auto;
  display: block;
}
@keyframes order-pane-appear {
  from {
    top: -300px;
  }
  to {
    top: 50px;
  }
}
@keyframes order-pane-disappear {
  from {
    top: 50px;
  }
  to {
    top: -300px;
  }
}
.order-pane {
  position: fixed;
  width: 300px;
  min-height: 300px;
  background-color: rgba(197, 66, 163, 0.22);
  top: -300px;
  right: 40px;
  box-sizing: border-box;
  padding: 20px;
}

.order-pane--active {
  animation-name: order-pane-appear;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.order-pane--inactive {
  animation-name: order-pane-disappear;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.order-pane__heading {
  margin-top: 0;
}

.order-pane ul {
  list-style: none;
  padding: 0;
}
.stage {
  margin-bottom: 55px;
}

.stage__header {
  box-sizing: border-box;
  text-align: center;
}
.service-categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-categories-list__item {
  margin-right: 25px;
  margin-bottom: 30px;
}
.service-categories-list__item :last-child {
  margin-right: 0;
}

.service {
  font-family: inherit;
  cursor: pointer;
  background-color: #ccc;
  border: none;
  width: 280px;
  height: 130px;
  font-size: 34px;
  transition: box-shadow 0.3s;
}
.service:focus {
  outline: 2px solid #2ea4f8ba;
  box-shadow: 0 0 18px -2px #2ea4f8;
}
.service:hover {
  box-shadow: 0 0 18px -2px #2ea4f8;
}

.service.active {
  outline: 2px solid #2ea4f8ba;
  box-shadow: 0 0 18px -2px #2ea4f8;
}
.footer {
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid gray;
}
.offer {
  background-color: #5D7EEF;
  color: #fff;
  padding: 14px 0;
  text-align: center;
}
